<% @cart.orderables.each do |orderable| %>
  <% product = orderable.product %>
    <%= product.description %>
  <%= image_tag(product.photo_product) %>
    <%= orderable.size %>
    <%= orderable.quantity %>
    <%= form_with(url: cart_remove_path) do |f| %>
      <%= f.hidden_field :id, value: orderable.id %>
      <%= f.submit "X" %>
    <% end %>
  </div>
<% end %>