<div>
  <table class="w-full text-sm text-left text-gray-500 bg-[#FFF]">
  <thead class="text-xs text-gray-700 uppercase bg-gray-50">
  <tr>
    <th scope="col" class="p-4">
      <div class="md:flex hidden items-center ">
        Pos
      </div>
    </th>
    <th scope="col" class="px-3 py-3">
      Club
    </th>
    <th scope="col" class="px-3 py-3">
      Name
    </th>
    <th scope="col" class="px-1 py-3">
      P
    </th>
    <th scope="col" class="px-1 py-3">
      W
    </th>
    <th scope="col" class="px-1 py-3">
      D
    </th>
    <th scope="col" class="px-1 py-3">
      L
    </th>
    <th scope="col" class="px-1 py-3">
      GF
    </th>
    <th scope="col" class="px-1 py-3">
      GA
    </th>
    <th scope="col" class="px-1 py-3">
      GD
    </th>
    <th scope="col" class="px-1 py-3">
      POINTS
    </th>
  </tr>
  </thead>
  <tbody>
  <tr class="bg-white border-b hover:bg-gray-50 ">
    <% @table.each do |table| %>
      <td class="w-4 p-4">
        <div class="md:flex hidden items-center">
          <!-- To count the number of user and number should follow progressive-->
        </div>
      </td>
      <th scope="row" class="flex items-center px-1 py-3 text-gray-900 whitespace-nowrap ">
        <%= image_tag(table.opponent_team.team_badge, class: "w-10 h-10 rounded") %>
      </th>
      <td class="px-1 py-3">
          <div class="text-base font-semibold text-sm">
            <%= table.opponent_team.name %>
          </div>
      </td>
      <td class="px-1 py-3">
        <%= table.mp %>
      </td>
      <td class="px-1 py-3">
        <%= table.w %>
      </td>
      <td class="px-1 py-3">
        <%= table.d %>
      </td>
      <td class="px-1 py-3">
        <%= table.l %>
      </td>
      <td class="px-1 py-3">
        <%= table.gf %>
      </td>
      <td class="px-1 py-3">
        <%= table.ga %>
      </td>
      <td class="px-1 py-3">
        <%= table.gd %>
      </td>
      <td class="px-1 py-3">
        <%= table.pts %>
      </td>

      <% if current_user && current_user.role === 'moderator' %>
        <td class="px-1 py-3">
          <%= link_to "Edit", edit_table_path(table.id), class: "text-[#000]  lg:text-base md:text-sm sm:text-xs md:font-bold sm:font-semibold  md:py-2 sm:py-1 md:px-4 sm:px-2 p-1 rounded mt-2" %>
        </td>
        <td>
          <%= button_to "Delete", table, method: :delete, data: { turbo_method: :delete  },class: "text-[#000] font-semibold " %>
        </td>
      <% end %>
      </tr>
    <% end %>
    </tbody>
</table>
</div>