<div id="<%= dom_id hall_of_fame %>">

  <% if hall_of_fame.team.image.attached? %>
   <%= image_tag hall_of_fame.team.image, class: "rounded-full w-40" %>
  <% end %>


  <p class="my-5">
    <strong class="block font-medium mb-1">Team:</strong>
    <%= hall_of_fame.team.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this hall of fame", hall_of_fame, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this hall of fame", edit_hall_of_fame_path(hall_of_fame), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
