<% @result.each do |opp| %>
  <%= link_to opponent_path(opp.id) do %>
    <div class="flex flex-col justify-center md:flex-row pb-2 pt-2 gap-5 bg-gray-900 ">
      <div class="bg-gray-900 border-[#FAE115] border-t-4 pb-2 justify-between md:w-full">
        <div class="flex justify-between border-[#FAE115] border-b-2 p-2">
          <p class="p-2 text-sm font-semibold uppercase">
            <%= opp.match_date.strftime("%d of %b, %Y") %>
            at
            <%= opp.match_time.strftime("%I:%M %p") %>
            |
            <%= opp.venue %>
          </p>
          <p class="p-2 text-sm font-semibold uppercase">
            <%= opp.tournament %>
          </p>
        </div>
        <div class="flex justify-center md:gap-5 m-8">
          <div class="justify-center  md:flex flex-col">
            <%= image_tag("logo.png", class: "w-40 justify-center content-center p-2") %>
            <p class="text-center md:text-xl font-semibold capitalize">
              Murang&apos;a Seals
            </p>
          </div>
          <div class="md:flex md:flex-col w-40 justify-center content-center text-center md:mb-10 md:text-5xl text-xl">
            <%= opp.score_one %>
            vs
            <%= opp.score_two %>
          </div>
          <div class="justify-center  md:flex flex-col">
            <% if opp.opponent_team.team_badge.attached? %>
              <%= image_tag (opp.opponent_team.team_badge), class: "w-40 justify-center content-center p-4"  %>
            <% end %>
            <p class="text-center md:text-xl font-semibold capitalize"><%= opp.opponent_team.name %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
