<div>
  <div class="p-6 bg-black font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex flex-col md:flex-row justify-between">
    <div>
      <% if current_user&.role == 'moderator' || current_user&.role == 'admin' %>
        <%= link_to "Add Opponent", new_opponent_path, class: "normal-case border-2 border-slate-100 hover:bg-slate-100 font-normal lg:text-2xl md:text-xl sm:text-sm text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
        <%= link_to "Add Opponent Team", new_opponent_team_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
        <%= link_to "Add Table", new_table_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
        <%= link_to "Add Season", new_season_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
      <% end %>
    </div>
  </div>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      /* Style the tab */
      .tab {
          overflow: hidden;
          border-bottom: 1px solid #ccc;
      }

      /* Style the buttons inside the tab */
      .tab button {
          background-color: inherit;
          float: left;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          transition: 0.3s;
          font-size: 17px;
      }

      /* Change background color of buttons on hover */
      .tab button:hover {
          color: #FAE115;
      }

      /* Create an active/current tablink class */
      .tab button.active {
          color: yellow;
      }

      /* Style the tab content */
      .tabcontent {
          display: none;
          padding: 6px 12px;
          border-top: none;
      }
  </style>

  <div class="tab flex flex-col md:flex-row gap-5 justify-center">
    <button class="tablinks active" onclick="openCity(event, 'Schedule')" id="defaultOpen">SCHEDULE</button>
    <button class="tablinks" onclick="openCity(event, 'Result')">RESULTS</button>
    <button class="tablinks" onclick="openCity(event, 'Fixtures')">STANDINGS</button>
  </div>

  <div id="Schedule" class="tabcontent active">
    <%= render 'opponent/schedule' %>
  </div>

  <div id="Result" class="tabcontent">
    <%= render 'opponent/results' %>
  </div>

  <div id="Fixtures" class="tabcontent">
    <%= render 'table/table_display' %>
  </div>

  <script>
      function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          if (evt) {
              evt.currentTarget.className += " active";
          }
      }

      document.addEventListener("DOMContentLoaded", function() {
          const urlParams = new URLSearchParams(window.location.search);
          const tab = urlParams.get('tab');
          if (tab) {
              openCity(null, tab);
              document.getElementById(tab).style.display = "block";
              document.querySelector(`.tablinks[onclick*="${tab}"]`).className += " active";
          } else {
              document.getElementById("defaultOpen").click();
          }
      });
  </script>
</div>