<div>
  <div class="p-6 bg-[#FAE115] font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex justify-between">
    <h1>FIXTURES</h1>
    <div>
      <% if current_user && current_user.role === 'moderator' %>
        <%=link_to "Add Opponent", new_opponent_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
        <%=link_to "Add Opponent Team", new_opponent_team_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded mb-2" %>

      <% end %>
    </div>
  </div>

  <% @opponent.each do |opp| %>
    <div class="flex flex-col justify-center md:flex-row pb-2 pt-2 gap-5 bg-[#e6e6e6] ">
    <div class="bg-[#FFF] border-[#FAE115] border-t-4 pb-2 justify-between md:w-[600px]">
      <div class="flex justify-between border-[#FAE115] border-b-2 p-2">
        <p class="p-2 text-sm font-semibold">
          <%= opp.match_date.strftime("%d of %b, %Y") %>
          at
          <%= opp.match_time.strftime("%I:%M %p") %>
          |
         <%= opp.venue %>
        </p>
        <p class="p-2 text-sm font-semibold"><%= opp.tournament %></p>
      </div>
      <div class="flex md:gap-5 m-8">
        <div class="justify-center  md:flex flex-col">
          <%= image_tag("logo.png", class: "w-40 justify-center content-center p-4") %>
          <p class="text-center md:text-xl font-semibold">
            Murang'a Seals
          </p>
        </div>
        <div class="md:flex md:flex-col w-40 justify-center content-center text-center md:mb-10 md:text-5xl text-xl">
          <%= opp.score_one %>
          vs
          <%= opp.score_two %>
        </div>
        <div class="justify-center  md:flex flex-col">
          <% if opp.opponent_team.team_badge.attached? %>
            <%= image_tag (opp.opponent_team.team_badge), class: "w-40 justify-center content-center p-4"  %>
          <% end %>
          <p class="text-center md:text-xl font-semibold capitalize"><%= opp.opponent_team.name %></p>
        </div>
      </div>
      <% if current_user && current_user.role === 'moderator' %>
          <div class="flex justify-center gap-4">
              <div class="bg-[#FAE115] mt-2 p-2 md:mt-3 md:p-3 rounded-lg sm:mt-2 sm:p-2  mt-2 p-2">
              <%= link_to "Edit", edit_opponent_path(opp.id), class: "text-[#000]  lg:text-base md:text-sm sm:text-xs md:font-bold sm:font-semibold  md:py-2 sm:py-1 md:px-4 sm:px-2 p-1 rounded mt-2" %>
            </div>
            <div class="bg-[#FAE115] mt-2 p-2 md:mt-3 md:p-3 rounded-lg sm:mt-2 sm:p-2  mt-2 p-2">
              <%= button_to "Delete", opp, method: :delete, data: { turbo_method: :delete  },class: "text-[#000] font-semibold " %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>