<div>
  <div class="p-6 bg-[#FAE115] font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex justify-between">
    FIXTURES
    <div>
      <% if current_user %>
        <%=link_to "Add Opponent", new_opponent_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
        <%=link_to "Add Opponent Team", new_opponent_team_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded mb-2" %>

      <% end %>
    </div>
  </div>

  <% @opponent.each do |opp| %>
    <div class="flex flex-col justify-center md:flex-row pb-2 pt-2 gap-5 bg-[#e6e6e6]">
    <div class="bg-[#FFF] border-[#FAE115] border-t-4 pb-2 justify-between">
      <div class="flex justify-between border-[#FAE115] border-b-2 p-2">
        <p class="p-2">
          <%= opp.match_date %>

          at
          <%= opp.match_time %>

          |
         <%= opp.venue %>
        </p>
        <p class="p-2"><%= opp.tournament %></p>
      </div>
      <div class="flex gap-5 m-10">
        <div class=" align-center hidden md:flex flex-col">
          <%= image_tag("logo.png", class: " w-40") %>
          <p>

            Murang'a Seals
          </p>
        </div>
        <div class="flex flex-col justify-center mb-10 text-5xl ml-10">
          <%= opp.score_one %>
          vs
          <%= opp.score_two %>

        </div>
        <div class="align-center hidden md:flex flex-col ml-10">


          <% if opp.opponent_team.team_badge.attached? %>
            <%= image_tag (opp.opponent_team.team_badge), class: " w-40"  %>
          <% end %>

          <p class="ml-10"><%= opp.opponent_team.name %></p>

        </div>
      </div>
      <% if current_user %>
          <div class="flex justify-center gap-4">

              <div class="bg-[#FAE115] mt-2 p-2 md:mt-3 md:p-3 rounded-lg sm:mt-2 sm:p-2  mt-2 p-2">
              <%= link_to "Edit", edit_opponent_path(opp.id), class: "text-[#000]  lg:text-base md:text-sm sm:text-xs md:font-bold sm:font-semibold  md:py-2 sm:py-1 md:px-4 sm:px-2 p-1 rounded mt-2" %>

            </div>
            <div class="bg-[#FAE115] mt-2 p-2 md:mt-3 md:p-3 rounded-lg sm:mt-2 sm:p-2  mt-2 p-2">
              <%= button_to "Delete", opp, method: :delete, data: { turbo_method: :delete  },class: "text-[#000] font-semibold " %>
            </div>
          </div>
      <% end %>
    </div>


  </div>
  <% end %>
</div>

