<div class="flex flex-col md:flex-row gap-5  m-4">
  <div class="w-full">

      <% @news.limit(1).each do |news| %>
          <div class=" flex flex-col items-center bg-white border border-[#FAE115] rounded-lg shadow md:flex-row ">

            <%= image_tag(news.image, class: "object-cover w-full rounded-t-lg lg:w-[70%] md:h-[400px] md:w-[600px] sm:w-[200px] md:rounded-none md:rounded-l-lg hover:bg-[#FAE115]" ) %>
              <div class="flex flex-col justify-between leading-normal p-5">
                <h5 class="mb-6 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= news.header_news %></h5>
                <p class="mb-2 font-normal text-gray-700 dark:text-gray-400">Murang&rsquo;a Seals defeated Shaban FC 2-0</p>
                <%= link_to news_path(news.id) do %>
                  <p class="bg-[#FAE115] sm:p-2 flex group-hover:bg-black group-hover:text-white justify-center  rounded-lg font-semibold">
                    Read More
                  </p>
                <% end %>
              </div>

          </div>
      <% end %>



    <% @news.limit(4).each do |news| %>

        <div class="inline-flex flex-row w-[200px] md:mr-[20px]">

              <div class="flex flex-col-reverse justify-between mt-5 p-2  group hover:bg-[#FAE115]  hover:scale-105 transition-all duration-500 cursor-pointer">
                <div class="flex-col">
                  <p class="font-bold text-sm"><%= news.header_news %></p>
                  <p class="text-sm"><%= news.header_news %></p>
                  <p class="bg-[#FAE115] sm:p-2 flex group-hover:bg-black group-hover:text-white justify-center  rounded-lg font-semibold">
                    Latest News
                  </p>
                </div>
                <%= image_tag(news.image)  %>
              </div>
        </div>
    <% end %>
  </div>


  <div class="bg-white flex-col md:flex-row border-t-indigo-500">
    <div class="flex flex-col md:items-end gap-5 hidden sm:flex ">
      <div class="flex flex-col md:w-[303px] text-white bg-black">
        <%= image_tag 'featured1.png', class: "md:w-[300px]"%>
        <p class=" text-xs p-2">Featured</p>
        <p class="text-xl p-4 font-bold w-[90%]">{item.title}</p>
      </div>
    </div>


    <div class="flex flex-col md:items-end gap-5 hidden sm:flex ">
      <div class="flex flex-col md:w-[303px] text-white bg-black">
        <%= image_tag 'featured1.png', class: "md:w-[300px]"%>
        <p class=" text-xs p-2">Featured</p>
        <p class="text-xl p-4 font-bold w-[90%]">{item.title}</p>
      </div>
    </div>
  </div>
</div>