<div class="flex flex-col justify-center md:flex-row gap-5  m-[4%]">
  <div>


      <% @news.limit(1).each do |news| %>
          <div class="flex flex-col items-start h-16 bg-[#FAE115] border border-[#FAE115] shadow md:flex-row 2xl:min-w-[1024px] xl:min-w-[860px] lg:w-[650px] md:w-[500px] ">
            <h1 class="text-white font-bold uppercase text-base md:text-2xl lg:text-3xl pl-4 pt-4 2xl:min-w-[1024px] xl:min-w-[860px] lg:w-[650px] md:w-[500px] truncate w-[330px]">
              <%= news.header_news %>
            </h1>
          </div>



          <div class=" flex flex-col content-center  border-t-4 border border-[#FAE115] mt-3  shadow md:flex-row 2xl:min-w-[1024px] xl:min-w-[860px] lg:w-[650px] md:w-[500px] ">
            <div>
              <%= image_tag(news.image, class: "object-cover 2xl:w-[800px] xl:w-[600px] xl:h-[400px] lg:w-[400px] lg:h-[250px] md:h-[400px] md:w-[600px] sm:w-[200px]" ) %>

            </div>
            <div class="flex flex-col content-center leading-normal p-5">
              <h1 class="text-gray-500  uppercase"><%= news.type_of_news %></h1>
              <h5 class="mb-6 text-2xl mt-[30%] font-bold tracking-tight text-[#000] mt-5 uppercase max-w-[200px] truncate">
                <%= news.header_news %>
              </h5>
                <%= link_to news_path(news.id) do %>
                  <p class="bg-[#FAE115] sm:p-2 flex group-hover:bg-black group-hover:text-white justify-center uppercase font-semibold">
                    Read More
                  </p>
                <% end %>
              </div>

          </div>
      <% end %>

      <div class="md:grid grid-cols-3 md:grid-cols-3 gap-5 mt-[28px] 2xl:min-w-[1024px] xl:min-w-[860px] lg:w-[650px] md:w-[500px]">

        <% @news.limit(4).each_with_index do |news, index| %>
          <% if index == 0 %>
            <%# Handle the last item separately %>
          <% else %>
            <% @news.length - index %>
            <div class="">

              <div class="bg-white border border-[#FAE115] border-t-4 flex flex-col mt-2 hover:scale-105">
                <%= image_tag(news.image, class: "h-[200px] w-full")  %>
                <div class="p-5">
                  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 truncate uppercase">
                    <%= news.type_of_news %>
                  </h5>
                  <p class="mb-3 font-normal text-gray-700 truncate ...">
                    <%= news.header_news %>.
                  </p>
                  <%= link_to news_path(news.id) do %>
                    <div class="inline-flex items-center px-3 py-2 text-sm font-semibold text-center text-black hover:text-[#FAE115] bg-[#FAE115] uppercase hover:bg-white hover:border-[#FAE115] border focus:ring-4 focus:outline-none focus:ring-blue-300">
                      Read More
                      <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

  </div>

        <div class="bg-white md:flex-col md:flex-row border-t-indigo-500 ">
          <% @advert.limit(2).each do |advert| %>

            <div class="flex flex-col md:items-end gap-5 mb-2 hidden sm:flex  ">
              <div class="flex flex-col lg:w-[303px] md:w-[250px] text-white bg-black">
                <%= image_tag(advert.desk_image, class: "lg:max-w-[300px] md:max-w-[250px]") %>
              </div>
            </div>
          <% end %>
          <% @advert.limit(1).each do |advert| %>

            <div class="sm:flex flex-col md:items-end m-[4%] md:hidden lg:hidden xl:hidden ">
                <div class="flex flex-col w-[100%] h-[100px] text-white bg-black">
                  <%= image_tag(advert.mobile_image, class: "w-[100%] h-[100px] ") %>
                </div>
              </div>
          <% end %>
        </div>

</div>