<div class="flex flex-col justify-center md:flex-row md:m-[4%] ">
  <div class="md:pl-10">
      <% @news.limit(1).each do |news| %>
          <div class="flex flex-col items-start h-16 bg-[#FAE115] border border-[#FAE115] shadow md:max-w-[1024px] ">
            <h1 class="text-white font-bold uppercase text-base md:text-2xl lg:text-3xl pl-4 pt-4 2xl:min-w-[1024px] xl:min-w-[860px] lg:w-[650px] md:w-[500px]  truncate w-full">
              <%= news.header_news %>
            </h1>
          </div>
          <div class="content-center  border-t-4 border border-[#FAE115] md:mt-3 rounded md:grid md:grid-cols-3 md:flex-row 2xl:min-w-[1024px] xl:min-w-[860px] lg:w-[650px] md:w-[500px] md:m-0 ml-4 mr-4 mt-4">
            <div class="col-span-1 md:col-span-2 aspect-auto ">
              <%= image_tag(news.image, class: "md:w-full" ) %>
            </div>
            <div class="col-span-1 p-4 bg-white ">
              <div>
                <p class="mb-2 text-2xl font-bold tracking-tight text-gray-900 uppercase ">
                  <%= news.type_of_news %>
                </p>
              </div>
              <div>
                <p class="mb-3 text-2xl md:mt-[20%] font-normal text-gray-700 capitalize truncate ...">
                  <%= news.header_news %>
                </p>
                <%= link_to "Read more", news_path(news.id),  class: "bg-[#FAE115] sm:p-2 flex hover:bg-white hover:text-[#fae115] border border-[#fae115] justify-center uppercase font-semibold rounded"%>
              </div>
            </div>
          </div>
      <% end %>

      <div class="md:grid grid-cols-3 md:grid-cols-3 gap-5 md:mt-4 2xl:min-w-[1024px] xl:min-w-[860px] lg:w-[650px] md:w-[500px] p-4 md:p-0">
        <!-- if the type_of_news is the same as the first one, then skip it -->
        <% @news.limit(4).each_with_index do |news, index| %>
          <% if index == 0 %>
            <%# Handle the last item separately %>
          <% else %>
            <% @news.length - index %>

            <div class="md:max-w-full mx-auto md:grid md:grid-cols-1 bg-white rounded shadow-md overflow-hidden max-w-2xl md:mt-0 mt-2 md:hover:scale-105">
              <div class="flex md:flex-col border-t-4 border-[#FAE115]">
                <a href="<%= news_path(news.id) %>">
                  <div class="shrink-0 ">
                    <%= image_tag(news.image, class: "md:h-48 md:w-full object-cover h-24 w-32")  %>
                  </div>
                  <div class="md:p-6 p-4">
                    <div class="mb-2 md:text-2xl text-sm font-bold tracking-tight text-gray-900 truncate uppercase">
                      <p><%= news.type_of_news %></p>
                    </div>
                    <p class="block mt-1 md:text-lg leading-tight md:font-medium text-xl md:max-w-full max-w-44 truncate ..."><%= news.header_news %>
                    </p>
                    <%= link_to news_path(news.id) do %>
                      <div class="hidden md:inline-flex mt-2 items-center px-3 py-2 text-sm font-semibold text-center  hover:text-[#FAE115] bg-[#FAE115] uppercase hover:bg-white hover:border-[#FAE115] border focus:ring-4 focus:outline-none focus:ring-blue-300">
                        <p>Read More</p>
                        <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                      </div>
                    <% end %>
                  </div>
                </a>
              </div>
            </div>



          <% end %>
        <% end %>
      </div>

  </div>


  <%= render "news/adverts" %>


</div>