<!-- Match Schedule -->
<% @opponent2.limit(1).each do |opp| %>

  <div class="md:border-r  flex flex-col gap-2 md:border-[#FAE115] place-content-center">
    <p class="uppercase md:text-center">Previous Match</p>

    <div class="flex gap-4 mt-8 items-center content-center justify-center">
      <div class="flex justify-items-center flex-col ">
        <%= image_tag "msealslogo.png" , alt: "M-seals logo" ,class: "w-24"%>
        <p class="mt-3 text-center">Murang&apos;a Seals</p>
      </div>
      <p class="text-3xl font-bold">
        <%= opp.score_one %>
      </p>
      <p class="font-extralight">
        VS
      </p>
      <p class="text-3xl font-bold">
        <%= opp.score_two %>
      </p>
      <div class="flex justify-center  flex-col">
        <% if opp.opponent_team.team_badge.attached? %>
          <%= image_tag (opp.opponent_team.team_badge), class: "w-24"  %>
        <% end %>
        <p class="mt-3 text-center"><%= opp.opponent_team.name %></p>
      </div>
    </div>
    <div class="flex text-center mt-5">

      <p class="text-white text-sm w-full">
        <%= opp.match_date.strftime("%d of %b, %Y") %>
        at
        <%= opp.match_time.strftime("%I:%M %p") %>
      </p>

      <p class="text-white text-sm w-full">
        <%= opp.venue %>
      </p>
    </div>

  </div>
<% end %>

