
<div class="bg-black text-white px-4 py-8">
<div class="grid grid-flow-col auto-cols-max justify-evenly">

  <!-- Match Schedule -->
  <% @opponent2.limit(1).each do |opp| %>

      <div class=" text-center md:border-r  flex flex-col gap-2 md:border-[#FAE115]">
        <p class="text-left uppercase">Previous Match</p>

        <div class="flex gap-4 mt-8 items-center ">
      <div class="flex ml-2 mr-6  flex-col ">
        <%= image_tag "msealslogo.png" , alt: "M-seals logo"%>
        <p class="mt-3">Murang&apos;a Seals</p>
      </div>
      <p class="text-3xl font-bold">
        <%= opp.score_one %>
      </p>
          <p class="font-extralight">
            VS
          </p>
          <p class="text-3xl font-bold">
            <%= opp.score_two %>
          </p>
      <div class="flex flex-col ml-6 mr-5">
        <% if opp.opponent_team.team_badge.attached? %>
          <%= image_tag (opp.opponent_team.team_badge), class: "w-40 justify-center content-center p-4"  %>
        <% end %>
        <p class="mt-3"><%= opp.opponent_team.name %></p>
      </div>
    </div>
  <div class="flex justify-between mt-5">

    <p class="text-left text-white text-sm w-full">
      <%= opp.match_date.strftime("%d of %b, %Y") %>
      at
      <%= opp.match_time.strftime("%I:%M %p") %>
    </p>

    <p class="text-left text-white text-sm w-full">
      <%= opp.venue %>
    </p>
  </div>

  </div>
    <% end %>

  <!-- Scores -->
  <% @opponent1.limit(1).each do |opp| %>
      <div class="md:border-r  flex flex-col gap-2 md:border-[#FAE115]">
        <p class="text-left uppercase">Next Match</p>
    <div class="flex gap-3 mt-8 items-center ">
      <div class="flex ml-4 mr-12  flex-col ">
        <%= image_tag "msealslogo.png" , alt: "M-seals logo"%>

        <p class="mt-3">Murang&apos;a Seal</p>
      </div>
      <p>VS</p>
      <div class="flex flex-col ml-10">
        <% if opp.opponent_team.team_badge.attached? %>
          <%= image_tag (opp.opponent_team.team_badge), class: "w-40 justify-center content-center p-4"  %>
        <% end %>
        <p class="mt-3"><%= opp.opponent_team.name %></p>
      </div>
    </div>
        <div class="flex justify-between mt-5">

          <p class="text-left text-white text-sm w-full">
            <%= opp.match_date.strftime("%d of %b, %Y") %>
            at
            <%= opp.match_time.strftime("%I:%M %p") %>
          </p>

          <p class="text-left text-white text-sm w-full">
            <%= opp.venue %>
          </p>
        </div>

  </div>
      <% end %>

  <!-- Buy a Tshirt -->
  <div class="flex justify-between p-4 ">
    <div class="flex flex-col gap-2">
      <p class="mb-4">AUTHENTIC HOME SHIRT</p>
      <p class="text-[#867A7A] mb-5">Team jersey</p>
      <p class="mb-4 text-[#867A7A]">1500 KSh</p>
      <p class="mb-4 text-[#867A7A]">Short sleeve</p>
      <p class="mb-4 text-[#867A7A]">
        10% Discount off On membership
      </p>
      <p class="mb-5 text-[#867A7A]">Medium</p>
      <%= link_to "<button>Buy Now</button>".html_safe, product_index_path, class: "bg-[#FAE115]  flex justify-center text-black font-bold p-2 w-[80%] uppercase" %>
    </div>
    <%= image_tag "msealskit.png", alt: "Mseal Logo kit", class: "w-[50%]"%>

  </div>
</div>
</div>

