<article class="flex justify-start mt-4">
  <% @similar_news.limit(4).each do |similar_news| %>
    <div class="bg-black shadow-lg overflow-hidden w-1/4 mr-2">
      <%= link_to news_path(similar_news) do %>
        <%= image_tag(similar_news.image, class: "rounded w-full h-[300px]") %>
        <div class="flex">
          <div class="text-left">
            <a href="#" class="mt-4 inline-flex text-sm items-center text-black bg-[#FAE115] p-1 rounded ">
              <%= similar_news.type_of_news %>
            </a>
            <a href="#" class="mt-4 inline-flex text-xs items-center text-white font-semibold">
              <%= time_ago_in_words(similar_news.created_at) %> ago
            </a>
            <p class="text-left mt-2 ">
              <%= truncate(similar_news.header_news, length: 30) %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</article>