<div class="p-6 bg-[#FAE115] font-bold uppercase text-5xl flex justify-between">
  NEWS  <% if current_user %>
    <%=link_to "Add News", new_news_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded-full mb-2" %>
  <% end %>
</div>
<div class="bg-gray-300 flex text-3xl py-3 px-5 md:mx-10 md:gap-20">
  <p>Latest News</p>
  <p>Featured</p>
</div>

<div class="flex-col mt-10 md:ml-10">
  <div class="flex justify-self-center gap-60">
    <h1 class="font-bold text-2xl">APRIL, 2023</h1>
    <div class="justify-self-center inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
  <div class="flex flex-col md:flex-row md:flex md:justify-between" >
    <div class="ml-4 md:w-[800px] lg:w-[1024px] sm:w-[300px] w-[380px] hover:border-[#FAE115] mb-10">
      <%= turbo_frame_tag :news do %>
        <%= render 'news/news_render' %>
      <% end %>
    </div >

    <%= render 'news/adverts' %>

  </div>
</div>
