<div class="p-6 bg-[#FAE115] font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex justify-between">
  NEWS
  <div>
    <% if current_user %>
      <% if current_user.moderator? or current_user.admin?  %>
        <%=link_to "Add News", new_news_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded-full mb-2" %>
      <% end %>
      <%= current_user.role %>
  <% end %>
  </div>
</div>


<div class="flex-col mt-10 md:ml-10">
  <div class="flex flex-col md:flex-row md:flex md:justify-between" >
    <div class="ml-4 sm:w-[300px] md:w-[800px] w-[350px] hover:border-[#FAE115] mb-10">
      <%= turbo_frame_tag :news do %>
        <%= render 'news/news_render' %>
      <% end %>
      <div class="flex ml-7 md:ml-60 gap-10">
  <% if @pagy.prev %>
    <%= link_to "Previous", url_for(page: @pagy.prev), class: "inline-flex items-center px-4 py-2 text-sm font-medium text-[#FAE115]  border border-gray-300 rounded-lg bg-[#000] hover:bg-[#FAE115] uppercase hover:text-[#000] hover:border-[#FAE115]" %>
  <% end %>
  <% if @pagy.next %>
    <%= link_to "Next ", url_for(page: @pagy.next), class: "inline-flex items-center px-4 py-2 text-sm font-medium text-[#000] border border-gray-300 rounded-lg hover:bg-[#000] bg-[#FAE115] uppercase hover:text-[#FAE115] hover:border-[#FAE115]" %>
  <% end %>
    
  </div>
    </div >

    <%= render 'news/adverts' %>

    

  </div>
  
</div>
