<div class="p-6 bg-[#FAE115] font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex justify-between">
  <h1>NEWS</h1>
  <div>
    <% if current_user && current_user.role === 'moderator'  %>
        <%=link_to "Add News", new_news_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
        <%=link_to "Add Advert", new_advert_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
  <% end %>
  </div>
</div>
<section class="bg-gray-900 py-4 text-gray-200">
  <div class="container mx-auto px-4">
    <div class="bg-white p-4">
      <div class="flex items-center justify-center py-4 px-8 bg-white">
        <div class="flex items-center space-x-2">
          <h1
            class="text-3xl font-semibold text-gradient bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-700"
          >
            Murang'a
          </h1>
          <span
            class="text-3xl font-semibold text-gradient bg-clip-text text-transparent bg-gradient-to-r from-yellow-500 to-yellow-700"
          >Seal News</span
          >
        </div>
      </div>
      <div class="w-36 bg-white rounded-lg shadow-md overflow-hidden mb-4">
        <div class="flex justify-between items-center bg-gray-200 px-4 py-4 relative">
          <span class="font-bold text-gray-700">NEWS</span>
          <div class="relative border-gray-700">
            <select id="news-select"  class="bg-gray-200 text-gray-600 border-none focus:outline-none appearance-none w-6 h-6">
              <option value="/features">Features</option>
              <option value="/sports">Sports</option>
              <option value="/entertainment">Entertainment</option>
              <option value="/technology">Technology</option>
              <option value="/politics">Politics</option>
            </select>
          </div>
        </div>
      </div>

      <article class="flex justify-start">
        <!-- Card 1 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="./assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="./assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="./assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="./assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>
      </article>

      <article class="flex justify-start">
        <!-- Card 1 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="./assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="./assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="./assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="./assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>
      </article>
      <div class="p-4 border-t">
        <a href="#" class="text-sm font-medium text-gray-700 flex items-center justify-end">
          See more
          <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ml-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>



<div class="flex-col mt-10 md:ml-10">
  <div class="flex flex-col md:flex-row md:flex justify-center" >
    <div class="ml-4 mr-4 md:w-[800px] md:m-0 hover:border-[#FAE115] mb-10">
        <%= turbo_frame_tag :news do %>
          <%= render 'news/news_render' %>
        <% end %>
          <div class="flex justify-center gap-4 p-4">
              <% if @pagy.prev %>
                <%= link_to "Newer", url_for(page: @pagy.prev), class: "w-[100px] py-3 px-4 text-justify  inline-flex text-sm font-semibold text-[#FAE115]  border border-gray-300 rounded-lg bg-[#000] hover:bg-[#FAE115] uppercase hover:text-[#000] hover:border-[#FAE115] uppercase" %>
              <% end %>
              <% if @pagy.next %>
              <%= link_to "Older", url_for(page: @pagy.next), class: "w-[100px] py-2 px-6 text-justify font-semibold text-[#000] border border-gray-300 rounded-lg hover:bg-[#000] bg-[#FAE115] uppercase hover:text-[#FAE115] hover:border-[#FAE115] uppercase" %>
          <% end %>
          </div>
    </div >
    <%= render 'news/adverts' %>
  </div>
  
</div>

<script>
    document.getElementById('news-select').addEventListener('change', function () {
        const selectedValue = this.value;
        if (selectedValue) {
            window.location.href = selectedValue; // Redirect to the selected page
        }
    });
</script>