<div class="bg-[#FAE115]">
<h1 class="text-4xl font-bold uppercase p-4">News</h1>
</div>

<div class="bg-gray-300 flex text-3xl py-3 px-5 mx-10 gap-20">
<p>Latest News</p>
<p>Featured</p>
</div>


<%# getting the date %>

<h1 class="font-bold text-2xl">APRIL,2023</h1>

<div class="grid grid-cols-3 gap-4 p-10">


<% @news.each do |news| %>
<div class=" w-full lg:max-w-full mt-10 lg:flex mb-6 ">
  <div class="h-28 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden">
    <%= image_tag(news.image, class: "h-[200px] object-fit w-[300px]") %>
  </div>
  <div class="h-48 w-[80%] lg:h-auto  shadow-xl shadow-gray-200 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-start leading-normal">
    <div class="">
      <p class="text-sm text-gray-600 flex items-center">
        <%= news.type_of_news %>
      </p>

      <div class="text-gray-900 font-bold text-xl mb-2 truncate mt-3"><%= news.header_news %></div>

      <div class="flex">
      <div class=" bg-[#FAE115] mt-3 p-3 rounded-lg">
        <%= link_to "Read More", news_path(news.id), class: " text-[#000] font-bold py-2 px-4 rounded mt-2" %>
      </div>
        <% if current_user %>
        <div class="ml-10 mt-3 bg-[#FAE115]  p-3  rounded-lg">

            <%= link_to "Edit News", edit_news_path(news.id), class: " text-[#000] font-bold py-2 px-4 rounded mt-2" %>

      </div>
        <% end %>
      </div>
      </div>
  
    </div>
  </div>
</div>
<% end %>






<div class="w-[20%] text-red-500">
cvgbhnjmk,label
</div>

</div>

