<%= form_with  model: @news, url: news_index_path, method: :post, data: { turbo: false }, local: true do |f| %>

  <div class="md:p-0">
    <div class="p-6 bg-[#FAE115] font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex justify-between">
      ADD NEWS PAGE
    </div>
    <div class="md:w-[800px] lg:w-[1024px] flex flex-col gap-4 md:my-24 md:mx-auto bg-[#F7F3ED] md:p-8">
      <h1 class="md:text-5xl text-2xl ">
        ADD NEWS TO THE WEBSITE
      </h1>
      <div>
        <label htmlFor="header text">
          Type of membership interested in
          <span class="text-red-500">*</span>
        </label>
      </div>

      <div class="flex  justify-between">
        <%= f.text_field :header_news, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" ,placeholder: "Header of News", required: true %>
        <%= f.select :type_of_news,  %w[Injuries News Fans League Latest News Club News Features], prompt: 'Type of News', class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" ,placeholder: "Type of News", required: true %>

      </div>
      <div class="flex justify-between">
        <%= f.file_field :image, class: 'w-full', placeholder: "(Please ensure this is a landscape photo)", required: true%>

      </div>

      <%= f.rich_text_area :content, class: "bg-white h-[500px] appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline" , required: true %>

      <%= f.submit "Submit", class: "w-[300px] mt-10 mb-10 md:mb-10 md:mt-16  mx-auto p-4 bg-[#F4E721] text-3xl text-black uppercase" %>
    </div>

  </div>
<% end %>

