<div class="flex flex-col items-center justify-center h-screen">
  <h1 class="text-4xl font-bold uppercase p-4 text-center">Add News</h1>
  <div class="max-w-md mx-auto bg-white p-8 rounded-md shadow-md grid grid-cols-1 gap-4">
    <%= form_with model: @news, url: news_index_path, method: :post, data: { turbo: false }, local: true do |f| %>
      <div class="col-span-1">
        <%= f.select :type_of_news, ['Match', 'Transfer', 'Injury'], prompt: 'Select Type of News', required: true, class: 'w-full p-2 border border-gray-300 rounded' %>
      </div>
      
      <div class="col-span-1 mt-5">
        <%= f.text_field :header_news, placeholder: 'Header for news', class: 'w-full p-2 border border-gray-300 rounded' %>
      </div>
      
      <div class="col-span-1 mt-10">
        <%= f.text_area :body, placeholder: 'Body Content up to 400 words', rows: "6", class: 'w-full p-2 border border-gray-300 rounded' %>
      </div>
      
      <div class="col-span-1 ">
        <%= f.file_field :image, class: 'w-full' %>
      </div>
      
      <div class="col-span-1">
        <%= f.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>
</div>
