<div class="shadow-md">
<div class="p-4 pl-6 bg-[#FAE115] font-bold uppercase text-3xl">
  <p>NEWS | <%= @news.header_news %></p>
</div>

<div class="sm:w-[200px] md:w-[60%] lg:max-w-full xl:max-w-full mx-auto mt-[6px]">
  <div>
    <%= render "news/image_show" %>
    <p class="text-semibold text-white mt-2 absolute top-80 right-100 bg-[#D9D9D9]"><%= @news.created_at.strftime("%d.%m.%Y") %></p>
  </div>
  <h2 class="text-2xl font-bold mt-4 mr-3 m-4"><%= @news.type_of_news %></h2>
  <h3 class="text-xl font-semibold m-4"><%= @news.header_news %></h3>
  <p class="text-lg mt-2 p-4"><%= @news.body %></p>
</div>
</div>
