<div class="shadow-md">
  <div class="p-6 bg-[#FAE115] font-bold uppercase lg:text-3xl md:text-3xl text-2xl flex justify-between ">
    <h1 class="md:w-full w-[90%] truncate ...">NEWS | <%= @news.header_news %></h1>
  </div>

  <div class="sm:w-[200px] md:w-[60%] lg:max-w-full xl:max-w-full mx-auto mt-[6px]">
    <div class="mt-4 border-t-[8px] pt-6 pb-6  border-[#FAE115] flex gap-4 bg-[#FFF] justify-between ">
      <p class="text-2xl font-bold mt-4 mr-3 m-4 flex uppercase">
          <%= @news.type_of_news %>
      </p>
      <p class="text-xs p-4">
        <%= @news.created_at.strftime("%d.%m.%Y") %>
      </p>
    </div>
    <div class="md:w-full w-full h-[60%]">
      <%= render "news/image_show" %>
    </div>

    <p class="text-2xl font-semibold p-4"><%= @news.header_news %></p>
    <div class="p-4">
      <p class="text-base font-light pl-[4%]"><%= render html: raw(@news.body) %></p>
    </div>

    <% if current_user && current_user.role === 'moderator' %>
      <div class="bg-[#FAE115] mt-2 p-2 md:mt-3 md:p-3 rounded-lg sm:mt-2 sm:p-2  mt-2 p-2">
        <%= link_to "Edit", edit_news_path(@news.id), class: "w-[50px] text-[#000]  lg:text-base md:text-sm sm:text-xs md:font-bold sm:font-semibold  md:py-2 sm:py-1 md:px-4 sm:px-2 p-1 rounded mt-2" %>
      </div>
      <div class="bg-[#FAE115] mt-2 p-2 md:mt-3 md:p-3 rounded-lg sm:mt-2 sm:p-2  mt-2 p-2">
        <%= button_to "Delete", @news, method: :delete, data: { turbo_method: :delete  },class: "text-[#000] font-semibold " %>
      </div>
    <% end %>
  </div>
</div>




