<div class="shadow-md pl-4 pr-4">
  <div class="p-6 bg-gray-900 font-bold uppercase lg:text-3xl md:text-3xl text-2xl flex justify-between ">
    <h1 class="md:w-full w-[90%] truncate ...">NEWS | <%= @news.header_news %></h1>
  </div>

  <div class="sm:w-[200px] md:w-[100%] text-black lg:max-w-full xl:max-w-full bg-white mx-auto mt-[6px]">
    <div class="mt-4 border-t-[8px] pt-6 pb-6  border-[#FAE115] flex gap-4 bg-[#FFF] justify-between ">
      <p class="text-2xl font-bold mt-4 mr-3 m-4 flex uppercase">
          <%= @news.type_of_news %>
      </p>
      <p class="text-xs p-4">
        <%= @news.created_at.strftime("%d.%m.%Y") %>
      </p>
    </div>
    <div class="md:w-full w-full h-[60%] pl-24 pr-24">
      <%= render "news/image_show" %>
    </div>

    <p class="text-2xl font-semibold p-24"><%= @news.header_news %></p>
    <div class="pl-24 pr-24">
      <p class="text-base font-light mb-4"><%= @news.content %></p>
      <div class="comment-box mt-4">
        <div class="comment-header">
          <img src="https://via.placeholder.com/40" alt="User Avatar">
          <p class="comment-content">
            I just tried this recipe and it was amazing! The instructions were clear and easy to follow, and the end result was delicious. I will definitely be making this again. Thanks for sharing!
          </p>
        </div>
        <div class="comment-toolbar">
          <div class="toolbar-icons">
            <span><b>B</b></span>
            <span><i>I</i></span>
            <span>&#x1F517;</span>
          </div>
          <button>Comment</button>
        </div>
      </div>
      <article class="flex justify-start mt-4">
        <!-- Card 2 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="../assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover rounded"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="../assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover rounded"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>

        <!-- Card 4 -->
        <div class="bg-white shadow-lg overflow-hidden w-1/4 mr-2">
          <img
            src="../assets/new_team.png"
            alt="New Kit"
            class="w-full h-48 object-cover rounded"
            />
          <div class="flex">
            <!-- Text Section -->
            <div class="p-4 text-center">
              <p class="text-black mt-2">
                Spain men in basketball and football<br />action
              </p>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> Club
              </a>
              <a
                href="#"
                class="mt-4 inline-flex text-xs items-center text-black font-semibold"
              >
                <span class="ml-1">&rarr;</span> 3 hrs ago
              </a>
            </div>
          </div>
        </div>
      </article>
    </div>

    <% if current_user && current_user.role === 'moderator' %>
      <div class="grid grid-cols-2 gap-4 p-2">


      <div class="bg-[#FAE115] mt-2 p-2 md:mt-3 md:p-3 rounded-lg sm:mt-2 sm:p-2  mt-2 p-2">
        <%= link_to "Edit", edit_news_path(@news.id), class: "w-[50px] text-[#000]  lg:text-base md:text-sm sm:text-xs md:font-bold sm:font-semibold  md:py-2 sm:py-1 md:px-4 sm:px-2 p-1 rounded mt-2" %>
      </div>
      <div class="bg-[#FAE115] mt-2 p-2 md:mt-3 md:p-3 rounded-lg sm:mt-2 sm:p-2  mt-2 p-2">
        <%= button_to "Delete", @news, method: :delete, data: { turbo_method: :delete  },class: "text-[#000] font-semibold  " %>
      </div>
      </div>
    <% end %>
  </div>
</div>




