
  <% @products.each do |product| %>

  <div class="flex flex-col md:flex-row md:items-center gap-10 ">
    <div class="md:w-[40%]  border-[#000] md:p-16 p-3 border-2">
      <%= link_to product_path(product.id) do %>
        <%= image_tag(product.photo_product, class: "w-[100%]") %>
      <% end %>
    </div>

    <div class="mx-5">
      <h1 class="text-2xl md:text-5xl font-bold uppercase"><%= product.description %></h1>

      <p class="mt-2"><%= product.name %>Color: Yellow with Black and White stripes</p>
      <div class="mt-2 gap-3  grid grid-cols-4">
        <p class="border-[#FAE115] border-2 p-2 md:p-4 size-option uppercase" data-size="Small"><%= product.size %></p>
      </div>


      <div id="price" class="mt-2">Price: <%= product.price %></div>
      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, value: 1, min: 1, id: "quantity", class: "bg-[#FAE115] border-none" %>
        <%= f.submit "Add to cart", class: "bg-[#FAE115] p-3 rounded-lg mt-2" %>
        <% end %>

        <button id="buyButton" class="bg-[#FAE115] p-3 rounded-lg mt-2">Buy Now</button>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_product_path(product), class: "bg-[#FAE115] p-3 rounded-lg mt-2" %></td>
          <td><%= link_to 'Destroy', product, class: "bg-[#FAE115] p-3 rounded-lg mt-2",  method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
    </div>
  </div>

  <% end %>