<% @products.each do |product| %>
  <div class="flex flex-col md:flex-row mt-5 mb-5 md:items-center gap-10">
    <div class="md:w-[40%] border-[#000] md:p-16 p-3 border-2">
      <%= link_to product_path(product.id) do %>
        <%= image_tag(product.photo_product, class: "w-[100%]") %>
      <% end %>
    </div>

    <div class="mx-5">
      <h1 class="text-2xl md:text-5xl font-bold uppercase"><%= product.description %></h1>

      <p class="mt-2"><%= product.name %>Color: Yellow with Black and White stripes</p>

      <div id="price" class="mt-2 mb-2">Price: <%= product.price %></div>

      <%= form_with(url: cart_add_path) do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.select :size, %w[SMALL MEDIUM LARGE], class: "border-[#FAE115] border-2 p-2 md:p-4 size-option uppercase", required: true %>
        <br/><br/>
        <%= f.number_field :quantity, value: 1, min: 1, id: "quantity", class: "bg-[#FAE115] border-none", required: true %>
        <br/>
        <%= f.submit "Add to cart", class: "bg-[#FAE115] p-3 rounded-lg mt-2" %>
      <% end %>
      <br/>

      <% if current_user %>
        <%= link_to 'Edit', edit_product_path(product), class: "bg-[#FAE115] p-3 rounded-lg mt-2" %>
        <%= button_to 'Destroy', product, method: :delete, data: { turbo_method: :delet }, class: "bg-[#FAE115] p-3 rounded-lg mt-2" %>
    <% end %>
    </div>
  </div>
<% end %>
