<div class="max-w-screen-xl mx-auto p-6">
  <div class="space-y-10">
    <!-- Section: Goalkeeper -->
    <div>
      <h3 class="text-2xl font-semibold text-center mb-6">Coaching Staff</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
        <% @teams.select { |team| team.id.present? && team.position === "Coach" || team.position === "Goalkeeping Coach" || team.position === "Team Manager" || team.position === "Strength & Conditioning Coach" || team.position === "Physical Trainer" || team.position === "Kit Manager" }.each do |team| %>
          <div class="relative group w-full h-96 overflow-hidden">

            <!-- Player Info at the Bottom -->
            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent group-hover:hidden transition-all duration-300">
              <div class="flex flex-col items-center justify-end h-full p-4 text-white">
              </div>
            </div>

            <% unless (current_user.nil? || current_user == "user") && team.active != true %>
              <%= link_to team_path(team.id) do %>
                <div class="relative group w-full h-96 overflow-hidden">
                  <% if team.image.attached? %>
                    <%= image_tag(team.image, class: 'w-full h-full object-cover', alt: "Goal Keeper" ) %>
                  <% end %>
                </div>

                <!-- Hover Effects: Additional Player Details -->
                <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent transform hidden group-hover:flex flex-col items-center justify-center p-4 text-white transition-all duration-300">
                  <div class="flex flex-col items-center justify-end h-full p-4 text-white">
                    <p class="text-xl font-bold mb-1 uppercase"><%= team.first_name %> <%= team.last_name %></p>
                    <p class="text-sm text-gray-400 mb-4"><%= team.position %></p>
                  </div>
                  <hr/>
                  <div class="flex justify-around w-full mb-4">
                    <div class="text-center">
                      <p class="text-xs uppercase text-gray-400">Appearances</p>
                      <p class="text-2xl font-bold">
                        <%= team.statistics.sum(:matches_played) %>
                      </p>
                      <p class="text-sm text-yellow-500"></p>
                    </div>
                    <div class="text-center">
                      <p class="text-xs uppercase text-gray-400">Goals</p>
                      <p class="text-2xl font-bold">
                        <%= team.statistics.sum(:goals_scored) %>
                      </p>
                      <p class="text-sm text-yellow-500"></p>
                    </div>
                    <div class="text-center">
                      <p class="text-xs uppercase text-gray-400">Assists</p>
                      <p class="text-2xl font-bold">
                        <%= team.statistics.sum(:assists) %>
                      </p>
                      <p class="text-sm text-yellow-500"></p>
                    </div>
                  </div>
                  <p class="text-xs text-gray-400">2024/2025 SEASON</p>
                </div>
              <% end %>
            <% end %>

          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>