<div class="my-4 ml-8">
  <h1 class="text-4xl pb-4 md:pb-0 md:p-4 font-bold">Defenders</h1>
  <div class="grid xl:grid-cols-4 lg:grid-cols-3  md:grid-cols-2 flex-col text-center p-2">

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500 mb-6">
      <%= image_tag "defender1.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Samuel</h1>
          <h1 class="font-semibold text-2xl">Semo</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">70</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500 mb-6">
      <%= image_tag "BrianDF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Brian</h1>
          <h1 class="font-semibold text-2xl">Marvin</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">40</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500 mb-6">
      <%= image_tag "HumphreyDF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Humfrey</h1>
          <h1 class="font-semibold text-2xl">Obina</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">20</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500 mb-6">
      <%= image_tag "Peter Mwaura.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Peter</h1>
          <h1 class="font-semibold text-2xl">Mwaura(Cpt)</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">04</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500 mb-6">
      <%= image_tag "CentricDF.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Centric</h1>
          <h1 class="font-semibold text-2xl">Asango</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">21</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500 mb-6">
      <%= image_tag "VictorDF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Victor</h1>
          <h1 class="font-semibold text-2xl">Odhiambo</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">03</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "Gideon Were.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Gideon</h1>
          <h1 class="font-semibold text-2xl">Were</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">19</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "RajabDF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Rajab</h1>
          <h1 class="font-semibold text-2xl">Omar</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">12</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 transition ease-in-out duration-500">
      <%= image_tag "ThomasDF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Thomas</h1>
          <h1 class="font-semibold text-2xl">Wainaina</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">13</h1>
      </div>
    </div>

  </div>

</div>