<div class="my-4 ml-8">
  <h1 class="text-4xl pb-4 md:pb-0 md:p-4 font-bold">Midfielders</h1>
  <hr class="ml-4 w-[6%] bg-[#FAE115] h-[10px] mb-2">
  <div class="grid lg:grid-cols-3 xl:grid-cols-4 md:grid-cols-2 flex-col text-center p-2">

    <% @teams.each do |team| %>
      <% if team.position === "Midfielder" %>
        <%= link_to team_path(team.id) do %>
          <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500">
            <% if team.image.attached? %>
              <%= image_tag(team.image) %>
            <% end %>
            <div class="flex justify-between">
              <div class="flex flex-col">
                <h1 class="self-start"><%= team.first_name %></h1>
                <h1 class="font-semibold text-2xl"><%= team.last_name %></h1>
              </div>
              <h1 class="text-gray-400 text-5xl">0<%= team.jersey_number %></h1>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "EricBalecho.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Eric</h1>
          <h1 class="font-semibold text-2xl">Balecho</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">08</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "defender2.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Henry</h1>
          <h1 class="font-semibold text-2xl">Omollo</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">11</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "John-Omondi-MF.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">John</h1>
          <h1 class="font-semibold text-2xl">Omondi</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">39</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "defender3.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Victor</h1>
          <h1 class="font-semibold text-2xl">Onyango</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">05</h1>
      </div>
    </div>
    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "JohnMwangiMF.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">John</h1>
          <h1 class="font-semibold text-2xl">Mwangi</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">16</h1>
      </div>
    </div>
    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "EricJumaAT.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Eric</h1>
          <h1 class="font-semibold text-2xl">Juma</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">88</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "AllyYusufMF.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Ally</h1>
          <h1 class="font-semibold text-2xl">Yusuf</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">25</h1>
      </div>
    </div>


    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "FabianMF.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Fabian</h1>
          <h1 class="font-semibold text-2xl">Adkiny</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">02</h1>
      </div>
    </div>


    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "ArvineMF.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Arvine</h1>
          <h1 class="font-semibold text-2xl">Odoyo</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">32</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "KevinMF.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Kevin</h1>
          <h1 class="font-semibold text-2xl">Oyim</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">30</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "AbouMF.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Abou</h1>
          <h1 class="font-semibold text-2xl">Traore</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">18</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "WilsonAT.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Wilson</h1>
          <h1 class="font-semibold text-2xl">Kamau</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">09</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "JohnAT.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">John</h1>
          <h1 class="font-semibold text-2xl">Kiplangat</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">09</h1>
      </div>
    </div>

  </div>



</div>