<div class="my-4 ml-8">
  <h1 class="text-4xl pb-4 md:pb-0 md:p-4 font-bold">Midfielders</h1>
  <div class="grid lg:grid-cols-3 xl:grid-cols-4 md:grid-cols-2 flex-col text-center p-2">

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "EricBalecho.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Eric</h1>
          <h1 class="font-semibold text-2xl">Balecho</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">08</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "defender2.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Henry</h1>
          <h1 class="font-semibold text-2xl">Omollo</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">11</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "John-Omondi-MF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">John</h1>
          <h1 class="font-semibold text-2xl">Omondi</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">39</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "defender3.png" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Victor</h1>
          <h1 class="font-semibold text-2xl">Onyango</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">05</h1>
      </div>
    </div>
    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "JohnMwangiMF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">John</h1>
          <h1 class="font-semibold text-2xl">Mwangi</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">16</h1>
      </div>
    </div>
    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "EricJumaAT.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Eric</h1>
          <h1 class="font-semibold text-2xl">Juma</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">88</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "AllyYusufMF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Ally</h1>
          <h1 class="font-semibold text-2xl">Yusuf</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">25</h1>
      </div>
    </div>


    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "FabianMF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Fabian</h1>
          <h1 class="font-semibold text-2xl">Adkiny</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">02</h1>
      </div>
    </div>


    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "ArvineMF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Arvine</h1>
          <h1 class="font-semibold text-2xl">Odoyo</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">32</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "KevinMF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Kevin</h1>
          <h1 class="font-semibold text-2xl">Oyim</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">30</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "AbouMF.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Abou</h1>
          <h1 class="font-semibold text-2xl">Traore</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">18</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "WilsonAT.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">Wilson</h1>
          <h1 class="font-semibold text-2xl">Kamau</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">09</h1>
      </div>
    </div>

    <div class="w-[300px] flex-flex-col cursor-pointer hover:scale-105 hover:text-[#FAE115] transition ease-in-out duration-500 mb-6">
      <%= image_tag "JohnAT.jpeg" %>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h1 class="self-start">John</h1>
          <h1 class="font-semibold text-2xl">Kiplangat</h1>
        </div>
        <h1 class="text-gray-400 text-5xl">09</h1>
      </div>
    </div>

  </div>



</div>