<meta name="viewport" content="width=device-width, initial-scale=1">


<div class="tab flex flex-row md:flex-row gap-2 md:gap-5 font-bold justify-between mt-4 border-b border-[#fae115]">
  <button class="tablinks active bg-inherit float-left border-none outline-none cursor-pointer p-1 md:p-4 transition duration-300 text-xs md:text-lg text-white hover:text-[#fae115]" onclick="openCity(event, 'General')" id="defaultOpen">General</button>
  <button class="tablinks bg-inherit float-left border-none outline-none cursor-pointer p-1 md:p-4 transition duration-300 text-xs md:text-lg text-white hover:text-[#fae115]" onclick="openCity(event, 'Defence')">Defence</button>
  <button class="tablinks bg-inherit float-left border-none outline-none cursor-pointer p-1 md:p-4 transition duration-300 text-xs md:text-lg text-white hover:text-[#fae115]" onclick="openCity(event, 'Distribution')">Distribution</button>
  <button class="tablinks bg-inherit float-left border-none outline-none cursor-pointer p-1 md:p-4 transition duration-300 text-xs md:text-lg text-white hover:text-[#fae115]" onclick="openCity(event, 'Attack')">Attack</button>
  <button class="tablinks bg-inherit float-left border-none outline-none cursor-pointer p-1 md:p-4 transition duration-300 text-xs md:text-lg text-white hover:text-[#fae115]" onclick="openCity(event, 'Discipline')">Discipline</button>
</div>

<div id="General" class="tabcontent active p-3">
  <div class="grid md:grid-cols-4 grid-cols-1 gap-4">
    <%= render partial: 'team/statistics/general_stats' %>
  </div>
</div>

<div id="Defence" class="tabcontent p-3">
  <div class="grid md:grid-cols-3 grid-cols-1 gap-4">
    <%= render partial: 'team/statistics/defense_stat' %>
  </div>
</div>

<div id="Distribution" class="tabcontent p-3">
  <div class="grid md:grid-cols-3 grid-cols-2 gap-4">
    <%= render partial:  'team/statistics/passes_stat' %>
  </div>
</div>

<div id="Attack" class="tabcontent p-3">
  <div class="grid md:grid-cols-4 grid-cols-2 gap-4">
    <% @statistic.each do |stat| %>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.shots_attempted %></p>
        <span class="font-extralight">Shots Attempted</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.shots_on_target %></p>
        <span class="font-extralight">Shots on Target</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.shots_off_target %></p>
        <span class="font-extralight">Shots off Target</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.goals_scored %></p>
        <span class="font-extralight">Goals Scored</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.assists %></p>
        <span class="font-extralight">Assists</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.shot_accuracy %>%</p>
        <span class="font-extralight">Shot Accuracy</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.goals_per_match %></p>
        <span class="font-extralight">Goal Ratio</span>
      </div>
    <% end %>
  </div>
</div>

<div id="Discipline" class="tabcontent p-3">
  <div class="grid md:grid-cols-4 grid-cols-2 gap-4">
    <% @statistic.each do |stat| %>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.fouls_won %></p>
        <span class="font-extralight">Fouls Won</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.fouls_committed %></p>
        <span class="font-extralight">Fouls Conceded</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.yellow_card %></p>
        <span class="font-extralight">Yellow Card</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.red_card %></p>
        <span class="font-extralight">Red Card</span>
      </div>
    <% end %>
  </div>
</div>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>