<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    /* Style the tab */
    .tab {
        overflow: hidden;
        border-bottom: 1px solid #fae115;
    }

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        color: white;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        color: #fae115;
        text-underline: #fae115;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        color: #fae115;
    }

    /* Style the tab content */
    .tabcontent {
        padding: 6px 12px;
    }

    /* Responsive design for mobile devices */
    @media (max-width: 768px) {
        .tab {
            display: flex;
            flex-direction: column;
        }

        .tab button {
            width: 100%;
            text-align: left;
        }

        .tabcontent {
            padding: 10px;
        }
    }
</style>

<div class="tab flex flex-col md:flex-row gap-5 font-bold justify-between mt-4">
  <button class="tablinks active text-white" onclick="openCity(event, 'General')" id="defaultOpen">General</button>
  <button class="tablinks text-white" onclick="openCity(event, 'Defence')">Defence</button>
  <button class="tablinks" onclick="openCity(event, 'Distribution')">Distribution</button>
  <button class="tablinks" onclick="openCity(event, 'Attack')">Attack</button>
  <button class="tablinks" onclick="openCity(event, 'Discipline')">Discipline</button>
</div>

<div id="General" class="tabcontent active">
  <div class="grid md:grid-cols-3 grid-cols-2 gap-4">
    <% @statistic.each do |stat| %>
      <!-- General Stats -->
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-[#FAE115] md:text-6xl sm:text-2xl"><%= stat.matches_played %></p>
        <span class="font-extralight">Matches played</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-[#FAE115] md:text-6xl sm:text-2xl"><%= stat.minutes_played %></p>
        <span class="font-extralight">Minutes played</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-[#FAE115] md:text-6xl sm:text-2xl"><%= stat.goals_scored %></p>
        <span class="font-extralight">Goal Scored</span>
      </div>
      <!-- Tab One -->

      <div class="col-span-1 p-2">
        <span class="font-extralight mb-10 text-center" id="chartLabel" style="display: block;">Tackles Percentage</span>
        <div class="justify-items-center md:h-32 h-24  relative">
          <canvas id="tacklesChart"></canvas>
          <span class="absolute inset-0 flex items-center justify-center text-[#fae115] md:text-xl font-bold"><%= stat.tackles_percentage %>%</span>
        </div>
      </div>

      <script>
          document.addEventListener('DOMContentLoaded', function() {
              // Get the context of the canvas element we want to select
              var ctx = document.getElementById('tacklesChart').getContext('2d');
              // Get the tackles percentage from the server-side variable
              var tacklesPercentage = <%= stat.tackles_percentage %>;
              var playerName = "<%= @team.first_name %> <%= @team.last_name %>"; // Get the player's name
              var label = document.getElementById('chartLabel').innerText; // Get the label text

              // Create a new Chart instance
              new Chart(ctx, {
                  type: 'doughnut', // Specify the chart type
                  data: {
                      datasets: [{
                          // Data for the chart
                          data: [tacklesPercentage, 100 - tacklesPercentage],
                          // Colors for the chart segments
                          backgroundColor: ['#FFD700', '#e6e6e6'],
                      }],
                  },
                  options: {
                      cutout: '85%', // Cutout percentage for the doughnut chart
                      responsive: true,
                      maintainAspectRatio: true, // Allows control over canvas size
                      plugins: {
                          tooltip: { enabled: false }, // Disable tooltips
                          legend: { display: false }, // Hide the legend
                          beforeDraw: function(chart) {
                              // Custom function to draw text in the center of the chart
                              var width = chart.width,
                                  height = chart.height,
                                  ctx = chart.ctx;
                              ctx.restore();
                              var fontSize = (height / 4).toFixed(2); // Calculate font size
                              ctx.font = fontSize + "em sans-serif"; // Set font style
                              ctx.textBaseline = "middle"; // Set text baseline
                              ctx.fillStyle = "white"; // Set text color to white

                              // Draw the percentage text
                              var text = tacklesPercentage + "%",
                                  textX = Math.round((width - ctx.measureText(text).width) / 2),
                                  textY = height / 2 - 10;
                              ctx.fillText(text, textX, textY);

                              // Draw the label text
                              ctx.font = (fontSize / 2) + "em sans-serif"; // Set smaller font size for the label
                              var labelX = Math.round((width - ctx.measureText(label).width) / 2),
                                  labelY = height / 2 + 10;
                              ctx.fillText(label, labelX, labelY);

                              ctx.save();
                          }
                      }
                  }
              });
          });
      </script>
    <% end %>
  </div>
</div>

<div id="Defence" class="tabcontent">
  <div class="grid md:grid-cols-3 grid-cols-2 gap-4">
    <% @statistic.each do |stat| %>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.tackles_percentage %>%</p>
        <span class="font-extralight">Tackles</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.tackles_won %></p>
        <span class="font-extralight">Tackles Won</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.tackles_attempted %></p>
        <span class="font-extralight">Tackles Attempted</span>
      </div>
    <% end %>
  </div>
</div>

<div id="Distribution" class="tabcontent">
  <div class="grid md:grid-cols-3 grid-cols-2 gap-4">
    <% @statistic.each do |stat| %>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.passes_completed %></p>
        <span class="font-extralight">Passes Completed</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.passes_attempted %></p>
        <span class="font-extralight">Passes Attempted</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.passes_percentage %>%</p>
        <span class="font-extralight">Pass Percentage</span>
      </div>
    <% end %>
  </div>
</div>

<div id="Attack" class="tabcontent">
  <div class="grid md:grid-cols-4 grid-cols-2 gap-4">
    <% @statistic.each do |stat| %>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.shots_attempted %></p>
        <span class="font-extralight">Shots Attempted</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.shots_on_target %></p>
        <span class="font-extralight">Shots on Target</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.shots_off_target %></p>
        <span class="font-extralight">Shots off Target</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.goals_scored %></p>
        <span class="font-extralight">Goals Scored</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.assists %></p>
        <span class="font-extralight">Assists</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.shot_accuracy %>%</p>
        <span class="font-extralight">Shot Accuracy</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.goals_per_match %></p>
        <span class="font-extralight">Goal Ratio</span>
      </div>
    <% end %>
  </div>
</div>

<div id="Discipline" class="tabcontent">
  <div class="grid md:grid-cols-4 grid-cols-2 gap-4">
    <% @statistic.each do |stat| %>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.fouls_won %></p>
        <span class="font-extralight">Fouls Won</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.fouls_committed %></p>
        <span class="font-extralight">Fouls Conceded</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.yellow_card %></p>
        <span class="font-extralight">Yellow Card</span>
      </div>
      <div class="col-span-1 text-center p-2">
        <p class="font-bold text-xl sm:text-2xl"><%= stat.red_card %></p>
        <span class="font-extralight">Red Card</span>
      </div>
    <% end %>
  </div>
</div>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
</script>