
  <div >
    <div class="p-4 bg-[#FAE115] font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex justify-between">
      Teams
    </div>
    <%= render 'team/goalkeeper' %>
    <%= render 'team/defenders' %>
    <%= render 'team/midfielders' %>
    <%= render 'team/forward' %>
    <%= render 'team/coaches' %>
  </div>