
  <div >
    <!-- Main Container -->
    <div class="max-w-screen-xl mx-auto p-6">
      <!-- Title -->
      <h2 class="text-3xl font-semibold text-center mb-10">MURANG'A SEAL FIRST TEAM</h2>

      <!-- Tabs for Positions -->
      <div class="mb-10 text-center">
        <ul class="flex justify-center space-x-6">
          <li><button class="text-lg text-gray-600">ALL PLAYERS</button></li>
          <li><button class="text-lg text-gray-600">GOALKEEPERS</button></li>
          <li><button class="text-lg text-gray-600">DEFENDERS</button></li>
          <li><button class="text-lg text-gray-600">MIDFIELDERS</button></li>
          <li><button class="text-lg text-gray-600">FORWARDS</button></li>
          <li><button class="text-lg text-gray-600">COACHING STAFF</button></li>
        </ul>
      </div>
      <div>
        <% if current_user && current_user.role === 'moderator'  %>
          <%=link_to "Add Player", new_team_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
        <% end %>
      </div>
      <!-- Repeat Player Card for other goalkeepers... -->
    </div>

    <div>
      <%= render "team/goalkeeper" %>
      <%= render "team/defenders" %>
      <%= render "team/midfielders" %>
      <%= render "team/forward" %>
      <%= render "team/coach" %>

    </div>



  </div>
