<div class="shadow-md">
  <div class="p-6 bg-[#FAE115] font-bold uppercase lg:text-3xl md:text-3xl text-2xl flex justify-between ">
    <p class="md:w-full w-[90%] truncate ...">TEAM | <%= @team.first_name %> <%= @team.last_name %></p>  </div>

  <div class="sm:w-[200px] md:w-[60%] lg:max-w-full xl:max-w-full mx-auto mt-[6px]">

    <h2 class="text-2xl font-bold mt-4 mr-3 m-4 flex justify-start uppercase">
      <%= @team.second_name  %>
      <p class="text-2xl ml-2 ">
        <%= @team.last_name %>
      </p>
    </h2>

    <div class="md:w-full w-[92%] h-[60%] ">
      <%= image_tag(@team.image, class: 'rounded') %>
    </div>

    <h2 class="text-xl font-bold mt-4 flex justify-start gap-12 uppercase">
        <%= @team.position %>
      <p class="text-xl ml-2 ">
        <%= @team.jersey_number %>
      </p>
    </h2>

    <h3 class="text-base font-light"><%= raw @team.about %></h3>
    <%= button_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-[#FAE115] p-3 rounded-lg mt-2" %>
  </div>
</div>





