<div class="shadow-md">
  <div class="p-6 bg-[#FAE115] font-bold uppercase lg:text-3xl md:text-3xl text-2xl flex justify-between ">
    <h1 class="md:w-full w-[90%] truncate ...">TEAM | <%= @team.first_name %> <%= @team.last_name %></h1>
  </div>

  <div class="sm:w-[200px] md:w-[60%] lg:max-w-full xl:max-w-full mx-auto mt-[28px]">

    <h2 class="text-2xl font-bold mt-4 border-t-[8px] pt-6 pb-6 border-[#FAE115] flex justify-start uppercase pl-2">
      <%= @team.second_name  %>
      <p class="text-2xl ml-2 ">
        <%= @team.last_name %>
      </p>
    </h2>

    <div class="md:w-full w-[100%]  ">
      <%= image_tag(@team.image, class: 'rounded h-[80%] w-full') %>
    </div>

    <h2 class="text-xl font-bold mt-4 flex justify-start gap-12 uppercase">
        <%= @team.position %>
      <p class="text-xl ml-2 ">
        <%= @team.jersey_number %>
      </p>
    </h2>

    <h3 class="text-base font-light"><%= raw @team.about %></h3>
    <div class="flex inline-flex gap-2">
    <% if current_user && current_user.role === 'moderator' %>
      <%= link_to "Edit", edit_team_path(@team.id), class: "bg-[#FAE115] p-3 rounded-lg mt-2 uppercase" %>

      <%= button_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-[#FAE115] p-3 rounded-lg mt-2 uppercase" %>
      <% end %>
    </div>
  </div>
</div>





