<div class="shadow-md">
  <div class="sm:w-[200px] md:w-[60%] lg:max-w-full xl:max-w-full mx-auto md:mt-[28px]">
    <div class="pt-6 pb-6 flex flex-col sm:flex-row gap-4 bg-black">
      <div class="relative">
        <%= image_tag(@team.image, class: 'w-full h-auto') %>

        <div class="absolute bottom-[-20px] right-[-50px] bg-gray-900 p-5 text-white">
          <span class="text-gray-500 block"><%= @team.position %></span>
          <h3 class="text-white text-2xl m-0 uppercase"><%= @team.jersey_number %> <%= @team.first_name %> <%= @team.last_name %></h3>
        </div>
        <div class="absolute top-1/2 right-[-50px] transform -translate-y-1/2">
          <div class="space-x-2">
            <button class="bg-yellow-500 text-white p-2 rounded"><i class="fas fa-chevron-left"></i></button>
            <button class="bg-black text-white p-2 rounded"><i class="fas fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
    </div>

    <h2 class="text-3xl mt-10">PLAYER PROFILE</h2>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <div>
        <span class="text-gray-500">Squad number:</span>
        <span class="font-bold block"> <% if @team.jersey_number.present? %>
            <%= @team.jersey_number %>
          <% else %>
            None
          <% end %></span>
      </div>
      <div>
        <span class="text-gray-500">Born:</span>
        <span class="font-bold block">
        <% if @team.date_of_birth.present? %>
          <%= @team.date_of_birth.strftime("%B %d, %Y") %>
        <% else %>
          None
        <% end %>
        </span>
      </div>
      <div>
        <span class="text-gray-500">Previous clubs:</span>
        <span class="font-bold block">Saint-Etienne, Nice (loan)</span>
      </div>
    </div>


    <%= render 'statistic' %>
    <%= render 'player_profile' %>

    <div class="text-lg sm:text-xl font-bold mt-4 flex flex-col sm:flex-row justify-start gap-12 uppercase">
      <p>
        <%= @team.position %>
      </p>
      <p>
        <%= @team.jersey_number %>
      </p>
    </div>
    <div class="p-4">
      <p class="text-sm sm:text-base font-light"><%= @team.content %></p>
    </div>
    <div class="flex flex-col sm:flex-row gap-2">
      <% if current_user&.role == 'moderator' || current_user&.role == 'admin' %>
        <%= link_to "Edit", edit_team_path(@team.id), class: "bg-[#FAE115] p-3 rounded-lg mt-2 uppercase" %>
        <%= button_to 'Destroy', @team, method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-[#FAE115] p-3 rounded-lg mt-2 uppercase" %>
      <% end %>
    </div>
  </div>
</div>
