<div class="p-4 bg-[#FAE115] font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex justify-between">
  <h1>CLUB & HISTORY</h1>  <% if current_user && current_user.role === 'moderator' %>
      <%=link_to "Add Club & History", new_club_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
      <% end %>
</div>
<% @club.each do |club| %>
  <div class="flex flex-col gap-4 flex odd:flex-row-reverse md:flex-row  items-center border-t-2  border-[#FAE115] my-4 bg-[#fdfee9] p-10">
    <div class="flex flex-col ">
      <h1 class="md:text-4xl text-3xl uppercase mt-5 font-normal mb-8">
        <%= club.header %>
      </h1>
      <p class="md:w-[500px] font-light text-xl truncate">
        <%= raw club.body %>
      </p>

      <div class="flex">
        <%= link_to club_path(club.id) do %>
          <button class="p-4 bg-[#F4E721] font-normal my-3 py-3 text-2xl mr-3 rounded uppercase">
            Read More
          </button>
        <% end %>
        <% if current_user && current_user.role === 'moderator' %>
            <%= link_to edit_club_path(club.id) do %>
              <button class="p-4 bg-[#F4E721] font-normal my-3 py-3 text-2xl mr-3 rounded uppercase" >
                Edit
              </button>
            <% end %>

          <%= button_to 'Delete', club, method: :delete, data: { turbo_method: :delete }, class: "p-4 bg-[#F4E721] font-normal my-3 py-3 text-2xl rounded uppercase" %>

      <% end %>
      </div>
    </div>

    <div class="">
      <%= image_tag club.photo, class: "w-[800px] h-[400px] object-cover", alt: "This is text" if club.photo.present? %>
    </div>
  </div>

<% end %>

