<div class="md:p-0">
    <div class="p-6 bg-[#FAE115] font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex justify-between">
    <h1>
      TEAM STATISTICS
    </h1>
        <div>
          <% if current_user && current_user.role === 'moderator' %>
            <%=link_to "Add Statistic", new_statistic_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
            <%=link_to "Add Season", new_season_path, class: "normal-case border-2 border-[#fff] hover:bg-[#fff] font-normal lg:text-2xl md:text-xl sm:text-sm sm:text-xl text-white hover:text-[#FAE115] p-2 rounded mb-2" %>
        <% end %>
        </div>
    </div>

    <div class="flex overflow-x-auto shadow-md sm:rounded-lg justify-center p-[28px]">
        <table class=" justify-items-center text-sm text-left rtl:text-right text-gray-500 bg-white">
            <thead class="text-xs text-gray-700 capitalize bg-gray-50 ">
            <tr class="font-semibold text-2xl w-full">
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="px-6 py-3">
                  FKF Premier League
                </th>
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="px-6 py-3">

                </th>
              <th scope="col" class="px-6 py-3">
                FKF Cup
              </th>
            </tr>
            <tr class="text-[12px]">
              <th scope="col" class="px-6 py-3">
              </th>
                <th scope="col" class="px-6 py-3">
                    Player Name
                </th>
                <th scope="col" class="px-6 py-3">
                  Fkp App
                </th>
                <th scope="col" class="px-6 py-3">
                  FKF Goals
                </th>
                <th scope="col" class="px-6 py-3">
                  FKF Yellow Card
                </th>
                <th scope="col" class="px-6 py-3">
                  FKF Red Card
                </th>
                <th scope="col" class="px-6 py-3">
                  FKF Cup App
                </th>
                <th scope="col" class="px-6 py-3">
                  FKF Cup Goal
                </th>
              <th scope="col" class="px-6 py-3">
                FKF Cup Yellow Card
              </th>
              <th scope="col" class="px-6 py-3">
                FKF Red Card
              </th>

            </tr>
            </thead>
            <tbody>
            <% @statistic.each do |stat| %>
              <tr class="odd:bg-white even:bg-gray-100 border-b ">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap ">
                  <%= stat.season.name %>
                </th>
                <th scope="row" class="px-6 py-4 ">
                  <%= stat.team.name %>
                </th>
                <td class="px-6 py-4">
                  <%= stat.kpl_appearance %>
                </td>
                <td class="px-6 py-4">
                  <%= stat.kpl_goal %>
                </td>
                <td class="px-6 py-4">
                  <%= stat.kpl_yellow %>
                </td>
                <td class="px-6 py-4">
                  <%= stat.kpl_redcard %>
                </td>
                <td class="px-6 py-4">
                  <%= stat.fkfcup_appearance %>
                </td>
                <td class="px-6 py-4">
                  <%= stat.fkfcup_goal %>
                </td>
                <td class="px-6 py-4">
                  <%= stat.fkfcup_yellow %>
                </td>
                <td class="px-6 py-4">
                  <%= stat.fkfcup_redcard %>
                </td>
                <td class="px-6 py-4">
                  <%= stat.percents %>
                </td>
                <td class="px-6 py-4 flex gap-2 ">
                  <% if current_user&.moderator? %><!--Link to edit page -->
                    <%= link_to "Edit", edit_statistic_path(stat.id), class: "font-medium text-blue-600 hover:underline border border-[#f4e721]" %>
                      <!--Link to delete page -->
                    <%= button_to "Delete", stat, method: :delete, data: { turbo_method: :delete  }, class: "font-medium text-red-600 hover:underline border border-[#f4e721]" %>
                  <% end %>
                </td>
              </tr>


            <% end %>
            </tbody>
        </table>
    </div>
</div>

<%= line_chart @statistic.map { |stat|
  {name: stat.team.name, data: stat.kpl_goal }
}


%>
<%= line_chart Statistic.group(:id).group_by_week(:created_at).count %>








