<%= form_with  model: @statistic, url: statistic_index_path, method: :post, data: { turbo: false }, local: true do |f| %>

  <div class="md:p-0">
    <div class="p-6 bg-[#FAE115] font-bold uppercase lg:text-5xl md:text-4xl text-3xl flex justify-between">
    ADD STATISTIC TO THE WEBSITE
    </div>
    <div class="md:w-[800px] lg:w-[1024px] flex flex-col gap-4 md:my-24 md:mx-auto bg-[#F7F3ED] md:p-8 justify-self-center">
      <div class="flex  justify-start">
        <%= f.label :Player_Name, class: "capitalize content-center p-4 w-[180px] font-semibold"%>
        <%= f.collection_select :team_id, Team.all, :id, :name, {prompt: "Select Player"}, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" %>
      </div>
      <div class="flex  justify-start">
        <%= f.label :FKF_PREMIERSHIP, class: "uppercase content-center p-4 font-bold underline"%>
      </div>
      <div class="flex  justify-start">
        <%= f.label :kpl_appearance, class: "capitalize content-center p-4 w-[180px] font-semibold"%>
        <%= f.number_field :kpl_appearance, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" %>
      </div>
      <div class="flex  justify-start">
        <%= f.label :kpl_goal, class: "capitalize content-center p-4 w-[180px] font-semibold"%>
        <%= f.number_field :kpl_goal, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" %>
      </div>
      <div class="flex  justify-start">
        <%= f.label :kpl_goal, class: "capitalize content-center p-4 w-[180px] font-semibold"%>
        <%= f.number_field :kpl_goal, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" %>
      </div>
      <div class="flex  justify-start">
        <%= f.label :kpl_yellow, class: "capitalize content-center p-4 w-[180px] font-semibold"%>
        <%= f.number_field :kpl_yellow, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" %>
      </div>
      <div class="flex  justify-start">
        <%= f.label :kpl_redcard, class: "capitalize content-center p-4 w-[180px] font-semibold"%>
        <%= f.number_field :kpl_redcard, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" %>
      </div>

      <div class="flex  justify-start">
        <%= f.label :FKF_CUP, class: "uppercase content-center p-4 font-bold underline"%>
      </div>

      <div class="flex  justify-start">
        <%= f.label :fkfcup_appearance, class: "capitalize content-center p-4 w-[180px] font-semibold"%>
        <%= f.number_field :fkfcup_appearance, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" %>
      </div>

      <div class="flex  justify-start">
        <%= f.label :fkfcup_goal, class: "capitalize content-center p-4 w-[180px] font-semibold"%>
        <%= f.number_field :fkfcup_goal, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" %>
      </div>

      <div class="flex  justify-start">
        <%= f.label :fkfcup_yellow, class: "capitalize content-center p-4 w-[180px] font-semibold"%>
        <%= f.number_field :fkfcup_yellow, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" %>
      </div>

      <div class="flex  justify-start">
        <%= f.label :fkfcup_redcard, class: "capitalize content-center p-4 w-[180px] font-semibold"%>
        <%= f.number_field :fkfcup_redcard, class: "h-[50px] flex items-center p-2 w-[45%] border-b bg-[#F7F3ED] border-black focus:outline-none" %>
      </div>

      <%= f.submit "Submit", class: "w-[300px] mt-10 mb-10 md:mb-10 md:mt-16  mx-auto p-4 bg-[#F4E721] text-3xl text-black uppercase" %>
    </div>

  </div>
<% end %>

