<!-- Footer Component -->
<div class="px-5 bg-black pt-20 w-full">
  <div class="bg-black w-full rounded-none">
    <div class="flex justify-between items-center py-4">
      <!-- Navigation Items -->
      <nav>
        <ul class="flex space-x-6 text-[#fae115]">
          <li class="hover:text-[#fae115]">
            <%= link_to 'HOME', root_path %>
          </li>
          <li class="hover:text-[#fae115]">
            <%= link_to 'NEWS', news_index_path %>
            </li>
          <li class="hover:text-[#fae115]">
            <%= link_to 'TEAM', team_index_path %>
          </li>
          <li class="hover:text-[#fae115]">
            <%= link_to 'FIXTURE', opponent_index_path %>
          </li>
          <li class="hover:text-[#fae115]">
            <%= link_to 'OUR CLUB', club_index_path %>
          </li>

        </ul>
      </nav>

      <!-- Social Media Icons -->
      <div class="flex space-x-6 text-[#fae115] text-2xl">
        <a href="#" class="hover:text-[#fae115]"><i class="fab fa-facebook"></i></a>
        <a href="#" class="hover:text-[#fae115]"><i class="fab fa-youtube"></i></a>
        <a href="#" class="hover:text-[#fae115]"><i class="fab fa-twitter"></i></a>
        <a href="#" class="hover:text-[#fae115]"><i class="fab fa-whatsapp"></i></a>
      </div>
    </div>

    <hr class="border-[#fae115]" />
  </div>

  <footer class="bg-black py-16">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-4">
      <div class="text-center md:text-left">
        <p class="text-[#fae115]">&copy; Muranga Seal. All rights reserved</p>
      </div>

      <div class="hidden md:block">
        <!-- Optionally add a title or logo here -->
      </div>

      <div class="flex justify-center md:justify-end space-x-6">
        <a href="#" class="text-[#fae115] hover:text-[#fae115]">Terms of Service</a>
        <a href="#" class="text-[#fae115] hover:text-[#fae115]">Privacy Policy</a>
      </div>
    </div>
  </footer>
</div>

<!-- Include Font Awesome for icons (or replace with Tailwind HeroIcons) -->
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
