 <!-- Header one with sponsors -->
 <div class="p-2 content-end bg-black border-b border-[#e6e6e6] hidden md:block">
   <ul class="flex justify-end gap-5 p-2 text-[#F6F6F6]">
     <% if current_user %>
       <%= button_to destroy_user_session_path,  method: :delete, data: { 'turbo_method': :delete, 'turbo-confirm': 'Are you sure?' } do %>
         <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
           LOGOUT
         </li>
       <% end %>
     <% else %>
       <%= button_to user_session_path do %>
         <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721] flex gap-1">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
             <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
           </svg>
           LOGIN
         </li>
       <% end %>
       <%= button_to  user_registration_path  do %>
         <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721] flex gap-1">
           <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
             <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
           </svg>
           REGISTER
         </li>
       <% end %>
     <% end %>
   </ul>
 </div>
    <div class="bg-black w-full h-20 shadow-xl md:mt-0 z-[100] md:px-24 w-full h-20 z-[100] md:mt-0 md:px-24 hidden md:block border-b-8 border-[#f4e721]">
        <div class="flex justify-between md:justify-start items-center w-full md:mt-0 h-full  md:px-4 py-7 px-2 2xl:px-16 rounded">
            <div>
                <ul class="hidden items-center md:flex gap-5 uppercase">
                    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
                        <%= link_to "NEWS", news_index_path %>
                    </li>

                    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
                      <%= link_to "FIXTURES" , opponent_index_path %>
                    </li>
                    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
                        <%= link_to "TEAM", team_index_path %>
                    </li>
                    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
                        <%= link_to "STATISTICS", statistic_index_path %>
                    </li>
                    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
                        <%= link_to "OUR CLUB", club_index_path %>
                    </li>
                    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721] ">
                      <%= link_to "SHOP", product_index_path %>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="hidden md:flex md:top-0 bottom-0 left-2 md:absolute md:h-[140px] sm:h-[120px] md:w-[150px] z-10">
        <%= link_to(image_tag("logo.png"), root_path, class: "md:flex xl:none lg:h-[200px] md:h-[140px] sm:h-[120px] ") %>
    </div>


 <!-- Mobile menu -->
<div class="content-end bg-black block md:hidden">
  <ul class="flex justify-end gap-5 pt-4 bg-black">
    <li class="absolute top-0 left-0">
      <%= link_to(image_tag("logo.png", class: "w-[80px] text-[#F6F6F6]" ), root_path ) %>
    </li>
    <li id="menuToggle" class="grid mt-5 mr-3">
      <i id="menuIcon" class="fa-sharp fa-solid fa-bars fa-flip-horizontal fa-xl mr-3 pb-4" style="color: #ffffff;"></i>
    </li>
  </ul>

  <ul id="menu" class="hidden items-center md:flex gap-5 text-center mt-12 ml-5 pb-5 uppercase">
    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
      <%= link_to "NEWS", news_index_path %>
    </li>
    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
      <%= link_to "TEAM", team_index_path %>
    </li>
    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
      <%= link_to "FIXTURES", opponent_index_path %>
    </li>

    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
      <%= link_to "STATISTICS", statistic_index_path %>
    </li>

    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721]">
      <%= link_to "OUR CLUB", club_index_path %>
    </li>
    <!--
    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721] ">
      <%= link_to "HALL OF FAME", hall_of_fames_path %>
    </li>
    -->
    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721] ">
      <%= link_to "SHOP", product_index_path %>
    </li>

    <% if current_user %>
    <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721] ">
      <%= button_to "LOGOUT",  destroy_user_session_path,  method: :delete, data: { 'turbo_method': :delete, 'turbo-confirm': 'Are you sure?' } %>
    </li>
    <% else %>
      <li class="hover:underline text-[#f4e721] underline-offset-8 hover:text-[#f4e721] ">
        <%= button_to "LOG IN",  user_session_path %>
      </li>
    <% end %>

  </ul>
</div>

<script>
  const menuToggle = document.getElementById('menuToggle');
  const menu = document.getElementById('menu');
  const menuIcon = document.getElementById('menuIcon');

  menuToggle.addEventListener('click', () => {
    menu.classList.toggle('hidden');
    menuIcon.classList.toggle('fa-bars');
    menuIcon.classList.toggle('fa-times');
  });
</script>



