<!DOCTYPE html>
<html>
  <head>
    <title>Mseals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" >
    <%= favicon_link_tag asset_path('msealslogo.png') %>


  </head>

  <body>
    <%= render "layouts/navbar" %>
    <main class="md:container lg:max-w-full md:mx-auto lg:mt-0 md:mt-[28px] sm:mt-[12px] mt-[6px]">
      <%= yield %>
    </main>
  <%= render "layouts/footer" %>
  </body>
</html>
