<!DOCTYPE html>
<html>
  <head>
    <title>Murang'a Seal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Grotesk">
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" >
    <%= favicon_link_tag asset_path('msealslogo.png') %>
    <%= tinymce_assets %>
    <script src="https://cdn.tiny.cloud/1/51we9eiu22w8w2p4fijko8ri7e3d66dm3jd9rbbcdia8l1em/tinymce/6/tinymce.min.js" type="text/javascript"  referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '.tinymce',
            height: 500,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table paste code help wordcount'
            ],
            toolbar: 'undo redo | formatselect | ' +
                ' bold italic backcolor | alignleft aligncenter ' +
                ' alignright alignjustify | bullist numlist outdent indent | ' +
                ' removeformat | help'
        });
    </script>


  </head>

  <body class="bg-[#e6e6e6]">
    <%= render "layouts/navbar" %>
    <main class="lg:max-w-full md:mx-auto mt-0 md:mt-[28px] w-full">
      <%= yield %>
    </main>
  <%= render "layouts/footer" %>
  </body>
</html>
